@import 'utilities.css';



:root{
    --primary:#7633c2;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#000000;
    }

*{
    padding: 0;
    margin: 0;
}
/*
@media screen and (max-width: 500px){
    :root{
        background: rgb(107,98,193);
        background: radial-gradient(circle, rgba(107,98,193,0.9865125240847784) 0%, rgba(148,229,233,1) 40%);
    }
}*/

/*
@media screen and (max-width: 1100px){
    /*header
    .mobile-nav, .time{
        display: none;
    }
    .all{
        flex-direction: column;
        clip-path:polygon(0 0, 100% 0, 100% 100%, 80% 90%, 0 91%);
        
    }

    .hero .left img{
        width: 350px;
        flex-direction: column-reverse;
        }
    .about .all-two{
        flex-direction: column;
        text-align: left;
  
        }

.about .tresd{
    width: 310px;
    height: 395px;
    background-color: var(--ternary);
    cursor: pointer;
    border-radius: 30px;
    transform-style: preserve-3d;
    transition: 2s;
   
}
.services .box{
    position: absolute;
    bottom: -100px;
    background: rgb(209,209,213);
    background: radial-gradient(circle, rgba(209,209,213,1) 0%, rgba(71,10,117,1) 100%);
    opacity: .6;
    animation: animate 15s infinite ease;
    flex-direction: column;
    }





}*/

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1152px;
    }
  }


body{
    font-family: 'Poppins'sans-serif ;
}
html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}

.branding{

    height: 60px;
    width: 60px;
   
}


header{
    background: var(--dark) ;
   
    clip-path:polygon(0 0, 100% 0, 100% 100%, 80% 90%, 0 100%);
   
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
   


}

.container  .time a{
    font-size: 1.3rem;
    color: var(--ternary);

}
 

header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right:2rem ;
    text-transform: uppercase;
    transition: all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
   
}
header nav.left a:hover{
    color:var(--primary)
}
header nav{
    padding: 2rem 0;
}

header nav .branding{
    
    margin-right: 3rem;
}

.btn {
    color: var(--pure);
}

.hero{
    padding: 6rem 10;
}


.hero .left img{
width: 500px;
}

.hero .right{
    color:var(--pure)
   
}


.hero .right h1{
    font-size:2rem ;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.hero .right h1{
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.hero .right p{
    color: var(--ternary);
    font-size: 1.2rem;
}




.animated-tex{
    padding: 6px;
    font-size: 34px;
    font-weight: 300;
    min-width: 280px;
}
.animated-tex span{
    position: relative;
    color: var(--ternary);
}

.animated-tex span::before{
    content:"";
    color:var(var(--primary));
    animation: words  20s infinite;
}

.animated-tex span::after{
    content: "";
    position: absolute;
    width: calc(100% + 20px);
    height: 100%;
    background-color: var(--dark);
    border-left: 2px solid var(--primary);
    right: -20px;
    animation: cursor .5s infinite, typing 20s steps(15) infinite;
    
    
}

@keyframes cursor{
    0%{
        border-left: 2px solid var(--dark);

    }
}

@keyframes words{
    0%, 20%{
        content: "Elisira Pereira";
    }

    21%, 40%{
        content: " Web Developer";
    }

    41%, 60%{
        content: "Santomense  ";

    }

    
    61%, 80%{
        content: "26 Years Old ";

    }

    
    81%, 100%{
        content: "live in Portugal";

    }
    
    

}


@keyframes typing{
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%,20%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 20px);
    }

}

.hero .right h1 span{
    color: var(--primary);

}

.hero .right p{
    line-height:1.9 ;
    margin-bottom: 2rem;
}

.hero .right{
    margin-top: -1rem ;
}

section{
    padding: 4rem 0;
}

section.about {
    background-color: var(--pure);
   
   
    
}

section.about .about-me-img{

    height: 400px;
   
}


section.about h1{
    margin-bottom: 1rem;
    font-size:2.5rem ;
    font-weight: 400;
}

section.about  h1 span{
    color: var(--primary);
}

section.about h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 400 ;
}

section.about p{
    font-family:'Lato' sans-serif ;
    color:var(--ternary);
    line-height:1.8 ;
    margin-bottom:2rem ;
  
}


section.about .social{
    display: flex;
    
    position: relative;

}

section .about .container .flex-1{
    display: flex;
    justify-content: space-between;

}

.text-about-me{
    padding-left: 50px;
}

.tresd{
    width: 400px;
    height: 350px;
    background-color: var(--ternary);
    cursor: pointer;
    border-radius: 30px;
    transform-style: preserve-3d;
    transition: 2s;
   
}

.tresd:hover img{
    transform: translate3d(0,0,100px);
    transform-style: preserve-3d;
   


}


section.about .social a{
    background:var(--ternary);
    display:flex;
    align-items:center;
    justify-content:center;
    width:35px;
    height:35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right:0.6rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

section.about .social a:hover{
    background: var(--primary);
    
}

section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.in{
    width: 80px;
    height: 80px;
}

.section-heading{
    color:var(--pure);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
    font-size: 3rem;

 
    
}

.section-heading span{
    color: var(--primary);
}

.section-heading + p{
    color:var(--ternary);
    font-family:'Lato', sans-serif ;
    margin-bottom:8rem ;
    text-align: center;
    font-size: 1.6rem;

}




section.services{
    background: var(--dark);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}


.box{
position: absolute;
bottom: -100px;
background: rgb(209,209,213);
background: radial-gradient(circle, rgba(209,209,213,1) 0%, rgba(71,10,117,1) 100%);
opacity: .6;
animation: animate 15s infinite ease;
}



 .box:nth-child(1){
    width: 75px;
    height: 75px;
    left: 7%;
    animation-delay:1s ;
}
 .box:nth-child(2){
    width: 80px;
    height: 80px;
    left: 20%;
    animation-delay:5s ;
}

.box:nth-child(3){
    width: 62px;
    height: 62px;
    left: 40%;
    animation-delay:9s ;
}

.box:nth-child(4){
    width: 80px;
    height: 80px;
    left: 50%;
    animation-delay:2s ;
}

.box:nth-child(5){
    width: 60px;
    height: 60px;
    left: 87%;
    animation-delay:10s ;
}

.box:nth-child(6){
    width: 55px;
    height: 55px;
    left: 89%;
    animation-delay:5s ;
}
 .box:nth-child(6){
    width: 70px;
    height: 70px;
    left: 80%;
    animation-delay:9s ;
}

.box:nth-child(7){
    width: 26px;
    height: 26px;
    left: 55%;
    animation-delay:6s ;
}
.box:nth-child(8){
    width: 90px;
    height: 90px;
    left: 75%;
    animation-delay:3s ;
}
.box:nth-child(9){
    width: 48px;
    height: 48px;
    left: 5%;
    animation-delay:9s ;
}
.box:nth-child(10){
    width: 35px;
    height: 35px;
    left: 2%;
    animation-delay:5s ;
}
.box:nth-child(11){
    width: 22px;
    height: 22px;
    left: 86%;
    animation-delay:4s ;
}
.box:nth-child(12){
    width: 38px;
    height: 38px;
    left: 7%;
    animation-delay:7s ;
}


.box:nth-child(13){
    width: 60px;
    height: 60px;
    left: 27%;
    animation-delay:10s ;

}
.box:nth-child(15){
    width: 62px;
    height: 62px;
    left: 40%;
    animation-delay:9s ; ;
}
.box:nth-child(16){
    width: 80px;
    height: 80px;
    left: 50%;
    animation-delay:7 ;
}
.box:nth-child(17){
    width: 28px;
    height: 28px;
    left: 20%;
    animation-delay:4s ;
}
.box:nth-child(18){
    width: 35px;
    height: 35px;
    left: 2%;
    animation-delay:5s ;
}
.box:nth-child(19){
    width: 85px;
    height: 85px;
    left: 7%;
    animation-delay:1s ;
}


@keyframes animate{
    0%{
        bottom: -100px;
        transform: translateX(0);
    }
    50%{
       
        transform: translateX(150px);
    }
    100%{
        bottom: 1000px;
        transform: translateX(-300px);
    }
}



section.services .skills-front{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem ;

}

/*nao tem var de cor*/
section.services .skills-front .skills{
    background: rgb(209,209,213);
    background: radial-gradient(circle, rgba(209,209,213,1) 0%, rgba(71,10,117,1) 100%);
    padding: 2rem 1rem ;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all .3s ease;
    width: 280px;
    display: flex;
    justify-content: center;
    margin: -25px 0 0 -25px;
    top: 25%;
    left: 30%;
    
    
   
}

section.services .skills-front .skills img{
    position:absolute ;
    top:-3.5rem;
    left:50%;
    transform: translateX(-50%);
}

section.services .skills-front .skills h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.services .skills-front .skills p{
    font-family: 'Lato', sans-serif;
    color: var(--dark);
    line-height:1.6rem ;
}

section.services .skills-front .skills:hover{
    background: var(--dark);
}

section.services .skills-front .skills:hover h2, section.services .skills-front .skills:hover p{
    color: var(--pure);
}

section.education{
    text-align: center;
    color:var(--pure);
    clip-path:polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
    padding-bottom:14rem;
    background: var(--dark);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
     top: 0;
    left: 0;
    }
    
    .edu-2{
        position: absolute;
        bottom: -100px;
        background: rgb(209,209,213);
        background: radial-gradient(circle, rgba(209,209,213,1) 0%, rgba(71,10,117,1) 100%);
        opacity: .6;
        animation: animate 15s infinite ease;
        }
    
    
 .edu-2:nth-child(1){
    width: 75px;
    height: 75px;
    left: 7%;
    animation-delay:1s infinite ;
}
 .edu-2:nth-child(2){
    width: 80px;
    height: 80px;
    left: 20%;
    animation-delay:5s infinite ;
}

.edu-2:nth-child(3){
    width: 62px;
    height: 62px;
    left: 40%;
    animation-delay:9s infinite ;
}

.edu-2:nth-child(4){
    width: 80px;
    height: 80px;
    left: 50%;
    animation-delay:2s infinite;
}

.edu-2:nth-child(5){
    width: 60px;
    height: 60px;
    left: 87%;
    animation-delay:10s infinite;
}

.edu-2:nth-child(6){
    width: 55px;
    height: 55px;
    left: 89%;
    animation-delay:5s infinite ;
}
 .bedu-2:nth-child(6){
    width: 70px;
    height: 70px;
    left: 80%;
    animation-delay:9s ;
}

.edu-2:nth-child(7){
    width: 26px;
    height: 26px;
    left: 55%;
    animation-delay:6s ;
}
.edu-2:nth-child(8){
    width: 90px;
    height: 90px;
    left: 75%;
    animation-delay:3s ;
}
.edu-2:nth-child(9){
    width: 48px;
    height: 48px;
    left: 5%;
    animation-delay:9s ;
}
.edu-2:nth-child(10){
    width: 35px;
    height: 35px;
    left: 2%;
    animation-delay:5s ;
}
.edu-2:nth-child(11){
    width: 22px;
    height: 22px;
    left: 86%;
    animation-delay:4s ;
}
.edu-2box:nth-child(12){
    width: 38px;
    height: 38px;
    left: 7%;
    animation-delay:7s ;
}

.edu-2:nth-child(1){
    width: 75px;
    height: 75px;
    left: 7%;
    animation-delay:1s ;
}
 .edu-2:nth-child(2){
    width: 80px;
    height: 80px;
    left: 20%;
    animation-delay:5s ;
}

.edu-2:nth-child(3){
    width: 62px;
    height: 62px;
    left: 40%;
    animation-delay:1s ;
}

.edu-2:nth-child(4){
    width: 80px;
    height: 80px;
    left: 50%;
    animation-delay:2s ;
}

.edu-2:nth-child(5){
    width: 60px;
    height: 60px;
    left: 87%;
    animation-delay:2s ;
}

.edu-2:nth-child(6){
    width: 55px;
    height: 55px;
    left: 89%;
    animation-delay:5s ;
}
 .bedu-2:nth-child(6){
    width: 70px;
    height: 70px;
    left: 80%;
    animation-delay:9s ;
}

.edu-2:nth-child(7){
    width: 26px;
    height: 26px;
    left: 55%;
    animation-delay:6s ;
}
.edu-2:nth-child(8){
    width: 90px;
    height: 90px;
    left: 75%;
    animation-delay:3s ;
}
.edu-2:nth-child(9){
    width: 48px;
    height: 48px;
    left: 5%;
    animation-delay:2s ;
}
.edu-2:nth-child(10){
    width: 35px;
    height: 35px;
    left: 2%;
    animation-delay:5s ;
}
.edu-2:nth-child(11){
    width: 22px;
    height: 22px;
    left: 86%;
    animation-delay:4s ;
}
.edu-2box:nth-child(12){
    width: 38px;
    height: 38px;
    left: 7%;
    animation-delay:7s ;
}




#education{
    padding: 3rem 0;
}

section.education h1{
    font-size: 2rem;
    margin-bottom: 2rem;
   
}

#edu-text{
    color:var(--secondary) ;
}

section.degree .slider .slide img{
    width:100px;
    height:100px;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
    object-fit:cover;
    margin-bottom:2rem;
}
section.degree .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:0 10rem;
   

}
section.degree .slider .slide p{
    font-family: 'Lato',sans-serif;
    color:var(--ternary);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
section.degree .slider .slide span{
    font-size: 0.9rem;
    font-size: 1.3rem;
}
section.degree .slider-dots .dots{
    list-style-type:none;
    display:flex!important;
    justify-content: center;
}
section.degree .slider-dots{
    margin-top:3rem;
}

section.degree .slider-dots button{
    font-size:0;
    width:8px;
    height:5px;
    margin-right:0.3rem;
    border: none;
    outline:none;
    background:var(--ternary);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
}
section.degree .dots li.slick-active button{
    background:var(--primary);
    width:20px;
}



section .cover-image{
    position: relative;
    width: 100%;
    height: 0;
    padding-top:50% ;
}


   



section .cover-image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

section.projects{
    background: var(--secondary);
    clip-path:polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
    padding-bottom: 12rem;
    
   
}

/*
section{
    background-color: #111;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

section.projects-2{
    position: relative;
    top: -50%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: normal;
    font-size: 65px;
    transform: rotate(-30deg);
}
i{
    color: var(--secondary);
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
}

i:hover{
    transition: 0s;
    color:var(--primary);
    text-shadow:  0 0 120px #7633c2;

}

#projects-2{
    
    animation:animate 80s linear infinite;
}
@keyframes animate{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
    
}
*/

.shadow{
    background: transparent;
    border: 1px solid var(--ternary);
    color: var(--primary);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
    width: 10rem;
    height: 2rem;
}


.shadow:hover{
    color: var(--primary);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 20px var(--primary);
}

.projects-1{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/7_Navegando.gif);
    
}


section.projects .section-heading{

    color: var(--pure);

}



section.projects .card-wrapper .card .card-content{
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

section.projects .card-wrapper .card .card-content h1{
    font-size: 1rem;
    font-weight: 600;
}

section.projects .card-wrapper .card .card-content a{
    color: var(--pure);
    text-decoration: none;
}

section.projects .card-wrapper .card .card-content a:hover{
    color: var(--primary);
}

section.projects .card-wrapper .card .card-content span{
    color: var(--ternary);
    font-size:1rem ;
    padding: 1rem;
}

section.projects .card-wrapper .card .card-content a{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

section.blog .card-wrapper .card .img-wrapper img{
    width:100%;
    height:100%;
    object-fit: cover;
    
}

section{

    background: var(--pure);
    

}


section.more-about{
    background: var(--light);
    border-radius: 80px;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}


.boxes{
position: absolute;
bottom: -100px;
background: rgb(209,209,213);
background: radial-gradient(circle, rgba(209,209,213,1) 0%, rgba(71,10,117,1) 100%);
opacity: .6;
animation: animate 15s infinite ease;
border-radius: 80px;
}



 .boxes:nth-child(1){
    width: 75px;
    height: 75px;
    left: 7%;
    animation-delay:1s ;
}
 .boxes:nth-child(2){
    width: 80px;
    height: 80px;
    left: 20%;
    animation-delay:5s ;
}

.boxes:nth-child(3){
    width: 62px;
    height: 62px;
    left: 40%;
    animation-delay:9s ;
}

.boxes:nth-child(4){
    width: 80px;
    height: 80px;
    left: 50%;
    animation-delay:2s ;
}

.boxes:nth-child(5){
    width: 60px;
    height: 60px;
    left: 87%;
    animation-delay:10s ;
}

.boxes:nth-child(6){
    width: 55px;
    height: 55px;
    left: 89%;
    animation-delay:5s ;
}
 .box:nth-child(6){
    width: 70px;
    height: 70px;
    left: 80%;
    animation-delay:9s ;
}

.boxes:nth-child(7){
    width: 26px;
    height: 26px;
    left: 55%;
    animation-delay:6s ;
}
.boxes:nth-child(8){
    width: 90px;
    height: 90px;
    left: 75%;
    animation-delay:3s ;
}
.boxes:nth-child(9){
    width: 48px;
    height: 48px;
    left: 5%;
    animation-delay:9s ;
}
.boxes:nth-child(10){
    width: 35px;
    height: 35px;
    left: 2%;
    animation-delay:5s ;
}
.boxes:nth-child(11){
    width: 22px;
    height: 22px;
    left: 86%;
    animation-delay:4s ;
}
.boxes:nth-child(12){
    width: 38px;
    height: 38px;
    left: 7%;
    animation-delay:7s ;
}


.boxes:nth-child(13){
    width: 60px;
    height: 60px;
    left: 27%;
    animation-delay:10s ;

}
.boxes:nth-child(15){
    width: 62px;
    height: 62px;
    left: 40%;
    animation-delay:9s ; ;
}
.boxes:nth-child(16){
    width: 80px;
    height: 80px;
    left: 50%;
    animation-delay:7 ;
}
.boxes:nth-child(17){
    width: 28px;
    height: 28px;
    left: 20%;
    animation-delay:4s ;
}
.boxes:nth-child(18){
    width: 35px;
    height: 35px;
    left: 2%;
    animation-delay:5s ;
}
.boxes:nth-child(19){
    width: 85px;
    height: 85px;
    left: 7%;
    animation-delay:1s ;
}

.boxes:nth-child(1){
    width: 75px;
    height: 75px;
    left: 7%;
    animation-delay:1s ;
}
 .boxes:nth-child(2){
    width: 80px;
    height: 80px;
    left: 20%;
    animation-delay:5s ;
}

.boxes:nth-child(3){
    width: 62px;
    height: 62px;
    left: 40%;
    animation-delay:9s ;
}

.boxes:nth-child(4){
    width: 80px;
    height: 80px;
    left: 50%;
    animation-delay:2s ;
}

.boxes:nth-child(5){
    width: 60px;
    height: 60px;
    left: 87%;
    animation-delay:10s ;
}

.boxes:nth-child(6){
    width: 55px;
    height: 55px;
    left: 89%;
    animation-delay:5s ;
}
 .box:nth-child(6){
    width: 70px;
    height: 70px;
    left: 80%;
    animation-delay:9s ;
}

.boxes:nth-child(7){
    width: 26px;
    height: 26px;
    left: 55%;
    animation-delay:6s ;
}
.boxes:nth-child(8){
    width: 90px;
    height: 90px;
    left: 75%;
    animation-delay:3s ;
}
.boxes:nth-child(9){
    width: 48px;
    height: 48px;
    left: 5%;
    animation-delay:9s ;
}
.boxes:nth-child(10){
    width: 35px;
    height: 35px;
    left: 2%;
    animation-delay:5s ;
}
.boxes:nth-child(11){
    width: 22px;
    height: 22px;
    left: 86%;
    animation-delay:4s ;
}
.boxes:nth-child(12){
    width: 38px;
    height: 38px;
    left: 7%;
    animation-delay:7s ;
}


.boxes:nth-child(13){
    width: 60px;
    height: 60px;
    left: 27%;
    animation-delay:10s ;

}
.boxes:nth-child(15){
    width: 62px;
    height: 62px;
    left: 40%;
    animation-delay:9s ; ;
}
.boxes:nth-child(16){
    width: 80px;
    height: 80px;
    left: 50%;
    animation-delay:7 ;
}
.boxes:nth-child(17){
    width: 28px;
    height: 28px;
    left: 20%;
    animation-delay:4s ;
}
.boxes:nth-child(18){
    width: 35px;
    height: 35px;
    left: 2%;
    animation-delay:5s ;
}
.boxes:nth-child(19){
    width: 85px;
    height: 85px;
    left: 7%;
    animation-delay:1s ;

    }

@keyframes animate{
    0%{
        bottom: -100px;
        transform: translateX(0);
    }
    50%{
       
        transform: translateX(150px);
    }
    100%{
        bottom: 1000px;
        transform: translateX(-300px);
    }
}


section.more-about {
    margin: auto;
    margin-left: 6rem;
   
    
    
    }


.img-and-text{
    display: table;
    margin-top: -.0.1rem;
 

}

.div-one{
    width: 400px;
    display: table-cell;
    float: left;
    margin-left: 8rem;
    
}



.div-two{
    display: table-cell;
    float:right ;
    margin-bottom: 6rem;
    margin: -80px;
    margin-top: -1rem;
    display: table-cell;
    float: right;
    margin-bottom: 6rem;
    margin: -80px;
    margin-bottom: 10px; 


   
}

.more-about{
    padding: 0px  50px ;
    display: inline;
   
}




.more-about h1{
margin-bottom: 6rem;
font-size: 2rem;
text-align: center;
margin: 5rem 6;
color: var(--secondary);
margin-top: 3rem;

}

.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
}

.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--primary);
    left: calc(1px- 70% );
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: var(--primary);
    box-shadow: 0 0 25px var(--primary), 
                0 0 30px var(--primary);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date{
    height: 20px;
    width: 5px;
    color: var(--secondary);
    margin: 6px 0 30px;
    margin-left: 4px;
}

.timeline-content{
    background-color: var(--dark);
    border: 3px solid var(--primary);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--primary);
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--primary);
}

.timeline-content h3{
    font-size: 20px;
    color: var(--light);
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p{
color: var(--light);
font-size: 16px;
font-weight: 300;
line-height: 22px;
}


::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary);
}
::-webkit-scrollbar-track{
    background-color: var(--secondary);
    width: 50px;
}


section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}


.init-hidden-off{
opacity: 1;
}

.init-hidden{
opacity: 0;
transition: opacity 1s linear;
}



section.contact{
    background: var(--dark);
}

section.contact .card-wrapper .card{
    text-align: center;
}

section.contact .card-wrapper .card .img{
    margin-bottom: 3rem;
  
    
}

.img-2{
    height: 32%;
    width: 21%;
    
   
}

section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--light);
}



section.contact .card-wrapper .card h6{
    font-size: 1rem ;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 4rem;
   
}

.border{
    border-radius: 20px;
    opacity: 0.8;
}

section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
    
}

section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}


section.contact .input-wrap-2 input{
    margin-bottom:2rem ;
    border-radius: 20px;
}

section.contact input{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9;


}


section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--dar);
    font-size: 0.9;
}


section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
   background-color: var(--pure);
}

section.contact .btn-wrapper{
    text-align: center;
    margin-top:2rem;
}

section.contact .btn-wrapper{
    text-align: center;
    margin-bottom: 2rem;
}

footer{
    background: var(--light);
    text-align: center;
    padding: .9rem 0;
}

footer .footer-logo{
    margin-bottom: 1rem;
    width: 70px;
}

.footer-socials{
    display: flex;
    justify-content: center;
}

.footer-socials a{
    background:var(--ternary);
    display:flex;
    align-items:center;
    justify-content:center;
    width:35px;
    height:35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right:0.6rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.footer-socials a:hover{
    background: var(--primary);
    
}
.footer-socials a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

footer .direito{
color: var(--ternary);
}

nav a{
    position: relative;
    text-decoration: none;


}

nav a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color:  var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5 ease-in-out;
   
}

nav a:hover::after{
    width: 100%;
   
}

  .button{
    padding: 15px 30px;
    background-color: var(--primary);
    color: var(pure);
    border-radius: 120px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    text-decoration: none;
  }

  
 
  .button span{
font-size: 30px;    
position: relative;
z-index: 999999;
text-decoration: none;
color: var(--pure);
text-decoration: none;
}



  .button::before{
    content: '';
    background: var(--dark);
    width: 0px;
    height: 0px;
    position: absolute;
    top:var(--eixoY);
    left:var(--eixoX);
    border-radius: 80%;
    transform: translate(-40%,-40%);
    transition: width 0.5s, hight 0.5s;
  }

  .button:hover::before{
    width: 100px;
    height: 100px;
  }
/*media para tablet*/
@media (max-width:1024px){

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        margin-bottom: -1rem;
    }
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;

}

h1{
    font-size: 2rem;
}
p{
    font-size: 1.4rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 1.4rem;
}
h4{
    font-size: 1.4rem;
}
.btn{
    margin: 2rem;
    
}


.container{
    margin: 1rem;
}

.hero .left img{
    width:360px;
    margin-top: -6rem;
    
}

.imgn{

    margin-bottom: 6rem;
}
.hero .right h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: -10rem;

}
.hero .right p{
    margin-top: 7rem;
}
.hero{
    padding-top:10rem;
    margin-bottom: 6rem;
   
}
header{
    clip-path:none;
   
}

.time{
   display: flex; 
    justify-content: space-between;
   
    
}

.butoon-elimi{
    display: none;
}
.button{
    padding: 12px 10px;
    background-color: var(--primary);
    color: var(pure);
    border-radius: 15px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    
}

.button::before {
   
    background: none;
   
}
section.about .about-me-img{
    height: 360px;
    margin-left: 2rem;
}


section.about .social {
    display: none;
  
}

.tresd {
    width: 400px;
    height: 350px;
    background-color: var(--ternary);
    cursor: pointer;
    border-radius: 30px;
    transform-style: preserve-3d;
    transition: 2s;
    margin-left: 69px;
}


section.services .card-wrapper{
    grid-template-columns: repeat(2, 1fr);
}


.section-heading + p {
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.6rem;
   
   
}

.section-heading {
    color: var(--pure);
    text-align: center;
    margin-bottom: 2rem;
    line-height: 0.5;
    font-size: 3rem;
    

}

.skills-front{
    padding: 2rem 1rem;
    position: relative;
    padding-top: 5rem;
  
    transition: all .3s ease;
    width: 170px;
  
     margin: none; 
    top: none; 
   
   flex-wrap: wrap;
 
   
}
section.services .skills{
    grid-template-columns: none;

}
section.services .skills-front{
    display: grid;
    grid-template-columns: none;
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
    margin-left: 13rem;
}

section.projects .card-wrapper .card .card-content {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 11rem;
    margin-top: 2rem;
}

 .img-wrapper{
    margin-left: 13rem;
}

section.contact .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-left: 4rem;
  
}

.forms{
    
    margin-left: .8rem;
    
}


}






/*media para phone*/
@media (max-width:576px){
    #main-nav{
        display: none;
    }
    
 .animated-tex {
    padding: 6px;
    font-size: 21px;
    font-weight: 300;
    min-width: 280px;
    margin-bottom: 2rem;

}
.hero .left img {
    width: 350px;
    margin-top: -4rem;
    opacity: 0.3;
    
}

.hero .right h1 {
    font-size: 2.6rem;
    margin-top: -9rem;
}

.hero .right p {
 color: var(--pure);
 margin-left: .7rem;
 margin-bottom: -10rem;
}

.hero{
        flex-direction: column;
      
 }
header{
clip-path:polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);;
background-color: var(--dark);
}

.hero .right{
    position: absolute;
    
     }
     .hero .left{
        margin-top:-5rem;
          margin-right: -9rem;
         padding-bottom:4rem;
        }
    
    .about-inner-wrap{
        flex-direction: column;
    }

    .tresd {
        width: 250px;
        height: 350px;
        background-color: var(--ternary);
        cursor: pointer;
        border-radius: 30px;
        transform-style: preserve-3d;
        transition: 2s;
        margin-left: 65px;
        margin-right: 65px;
    }
    section.about .social {
        display: flex;
    }
    .about .right{
       
        margin-top: 2rem;
     
    }
    .about .right h1{
       
        margin-left: 69px;

     
    }
    
    .about .right .social{
       
        margin-left: 100px;
    }

    section{
        padding: 3rem 0;
    }
    section.services .skills-front{
        grid-template-columns: repeat(1, 1fr);
        margin-top:6rem;
       margin-left: 30px;
       
    }
    section.education h1{
        line-height:1.2;
    }
    section.education{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
        padding-bottom: 8rem;
    }
    section.reviews .slider .slide{
        padding:0;
    }
    .section-heading + p{
        margin-bottom: 3rem;
    }
    section.projects .card-wrapper .card .card-content {
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 1rem;
        margin-top: 2rem;
    }
    
    .img-wrapper{
        margin-left: 2rem;
    }
    section.contact .card-wrapper{
        grid-template-columns: repeat(1,1fr);
        margin-left: .4rem;
    }
    section.contact .input-wrap{
        grid-template-columns: repeat(1, 1fr);
        margin-left: .4rem;
    }

    .div-two {

        width: 100%;
        height: 100%;
        display: table-cell;
       
        margin-left: 110px;
        
    }

    .div-two h3{
        color: var(--ternary);
    }

    .img-and-text{
        display: none;
    }
 
    section.contact .card-wrapper {
        
      
        margin-left: .4rem;
      
    }
    
}



/*
section.more-about{

    display: none; 

}

section.projects{
    clip-path:none;
}

section.contact{
    background: var(--secondary);
}

.eliminetion{
    display: none;
}

section.blog .card-wrapper{
    grid-template-columns: repeat(1, 1fr);
}
section.blog{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 97%, 0 100%);
}


/*
  }
.button span a {
    text-decoration: none;
    display: none;
    display: block;
    margin-right:2rem ;
    text-transform: none;
    transition: none;
    content: " ";
    width: 0;
    height: 0;
    background-color:  none;
    position: none;
    bottom: 0;
    left: 0;
    transition: none;
}

.button span a::after{
     position: none;
    bottom: none;
    left: none;
    transition: none;

    }
.button  a:hover::after{
    width: none;
   
}

.button span a{
    text-decoration: none;


}
/*
